/*http://www.color-hex.com/color-palette/25888*/

body,
html {
  background: #f3ea5f;
  font-family: "helvetica", "arial", sans-serif;
  font-weight: 600;
  padding: 2vmin;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: underline;
  color: yellow;
  text-transform: uppercase;
}
a:hover {
  text-decoration: double underline;
}

h2 {
  margin: 2vh 2vw;
}

#content {
  background: #2bd1fc;
  padding: 2vmin;
  height: auto;
  width: 90vw;
  box-sizing: border-box;
  max-width: 1200px;
}

form {
  background: black;
  padding: 2vmin;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section {
  height: auto;
  padding: 2vw 2vh;
  width: 100%;
  box-sizing: border-box;
  background: #ff48c4;
  margin: 0.5em 0;
}

#personal {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#year {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#year-choices {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.year-choice,
#continent {
  padding: 0 2vw;
}

#continent {
  text-align: center;
}
  select{
    font-weight: 600;
}

.year-choice, .song-option{
    display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#songs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#song-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 50em;
  padding: 0 2vw;
}

.song-checkbox {
  padding: 1vh 2vw;

}

#comments-section {
  text-align: center;
}

textarea {
  width: 90%;
  height: 10em;
  background: #f3ea5f;
  color: black;
  border-radius: 5vmin;
  padding: 2vmin;
  box-sizing: border-box;
}

#name-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-fields {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 2em;
  width: auto;
}

.contact {
  margin: 5px;
  width: 307px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact label {
  margin: 0 1em;
}

.contact input {
  width: auto;
  height: 1.5em;
  background: #f3ea5f;
  color: black;
  border-radius: 5vmin;
  padding: 2vmin;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 900px) {
  #contact-fields {
    justify-content: center;
  }

}

@media (max-width: 550px) {
  .contact {
    width: 100%;
    flex-direction: column;
  }
  
  .contact input {
    width: auto;
    height: 1.5em;
    background: #f3ea5f;
    color: black;
    border-radius: 5vmin;
    padding: 2vmin;
    box-sizing: border-box;
  }
}

@media (max-width: 350px) {
  #year {
    align-items: left;
  }
  
  #year-choices {
    justify-content: flex-start;
  }
  
  #continent {
    text-align: left;
  }

  #songs {
    align-items: flex-start;
    text-align: left;
  }
  
  #song-options {
    justify-content: flex-start;
  }
}


@media (pointer: coarse) {
  
  input[type="checkbox"], input[type="radio"]{
 width: 2em;
      height: 2em;
}
 
  .contact input{
        height: 2.5em;
  }
  select{
    font-size: 1.5em;
  }
}