/*$width-700:
$width-550:*/
body, html {
  background: white;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0;
  font-family: "helvetica", "arial", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

nav {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  color: #FAFAFA;
  background: #383E4C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 1000px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
  padding: 20px 30px;
  border: 1px #FAFAFA solid;
  font-size: 24px;
  font-weight: bold;
}

nav a:last-child {
  margin-right: 0px;
}

nav a:hover, nav a:active {
  background: #646d7c;
}

#toggle {
  display: none;
}

label {
  display: none;
}

#about {
  position: absolute;
  top: -150px;
}

#services, #contact {
  position: absolute;
  top: -100px;
}

p {
  text-align: center;
}

.content {
  /* display: flex;
   flex-direction: column;
   align-items: center;*/
}

.full-width {
  position: relative;
  width: 100%;
  min-height: 500px;
  padding: 0;
  left: 0;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(http://www.free-css.com/assets/files/free-css-templates/preview/page196/conquer/assets/img/4-5.jpg) no-repeat;
  background-size: cover;
}

#home {
  position: relative;
  top: 0px;
}

.row {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  position: relative;
  /*  display: flex;
    flex-direction: column;*/
  margin: 0 15px;
  margin-bottom: 30px;
}
.card .image {
  width: 100%;
  position: relative;
  background: #FFC400;
  background: url(http://www.free-css.com/assets/files/free-css-templates/preview/page196/conquer/assets/img/1-1.jpg) no-repeat;
  background-size: cover;
}

.text-container {
  color: black;
  background: #F2F2F2;
  left: 0;
  width: 100%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.cols-1 {
  width: 1170px;
}
.cols-1 .image {
  height: 500px;
}
.cols-1 .text-container {
  min-height: 180px;
}

.cols-2 {
  width: 570px;
}
.cols-2 .image {
  height: 180px;
}
.cols-2 .text-container {
  min-height: 180px;
}

.cols-3 {
  width: 370px;
}
.cols-3 .image {
  height: 125px;
}
.cols-3 .text-container {
  min-height: 125px;
}

.cols-4 {
  width: 270px;
}
.cols-4 .image {
  height: 250px;
}
.cols-4 .text-container {
  min-height: 250px;
}

.form {
  padding: 25px;
  display: flex;
  flex-direction: row;
  width: 900px;
}

input {
  width: 300px;
  height: 40px;
  margin-bottom: 30px;
}

textarea {
  width: 300px;
  height: 200px;
}

@media (max-width: 1200px) {
  nav a {
    font-size: 20px;
  }

  .cols-1 {
    width: 970px;
  }

  .cols-2 {
    width: 470px;
  }

  .cols-3 {
    width: 303.3333333333px;
  }

  .cols-4 {
    width: 220px;
  }
}
@media (max-width: 1050px) {
  .menu {
    width: 800px -300;
  }

  nav a {
    margin-right: 10px;
    font-weight: regular;
  }

  nav a:last-child {
    margin-right: 0px;
  }

  .cols-1 {
    width: 770px;
  }

  .cols-2 {
    width: 370px;
  }

  .cols-3 {
    width: 236.6666666667px;
  }

  .cols-4 {
    width: 300px;
    margin: 0 50px;
    margin-top: 30px;
  }
}
@media (max-width: 840px) {
  label {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #383E4C;
    padding: 5px;
    border-radius: 10%;
  }

  .menu {
    display: block;
    overflow: hidden;
    height: 0px;
    width: 100%;
    padding: 0 20px 0 20px;
    position: absolute;
    top: 70px;
    -webkit-transition: height 2s;
    /* Safari */
    transition: height 2s;
  }

  nav {
    background: none;
    width: 100%;
    top: 0px;
  }

  nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    padding: 20px 30px;
    border: none;
    background: #383E4C;
    box-sizing: border-box;
  }

  nav :not(:last-child) {
    border-bottom: 0.25px #FAFAFA solid;
  }

  #toggle:checked + .menu {
    display: block;
    height: 500px;
    position: absolute;
    top: 70px;
    left: 0;
    box-sizing: border-box;
    z-index: 2;
    -webkit-transition: height 2s;
    /* Safari */
    transition: height 2s;
  }

  label {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    padding: 2px 10px 4px 10px;
  }

  .cols-1 {
    width: 98%;
  }

  .cols-2 {
    width: 770px;
  }

  .cols-3 {
    width: 510px;
  }

  .r4 {
    justify-content: space-around;
  }

  .cols-4 {
    width: 285px;
    margin-left: 0;
    margin-right: 0;
  }

  .form {
    width: 577.5px;
  }

  input {
    width: 192.5px;
  }

  textarea {
    width: 192.5px;
  }

  #services, #contact {
    position: absolute;
    top: 0px;
  }

  #about {
    position: absolute;
    top: -50px;
  }
}
@media (max-width: 650px) {
  .cols-2 {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .cols-4 {
    width: 45%;
  }

  .form {
    width: 80%;
    flex-direction: column;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }
}
@media (max-width: 450px) {
  /* everything is one per row
   cols-1 is still wider
   using percentages + margins
   }*/
  .cols-1, .cols-2 {
    width: 95%;
  }

  .cols-3 {
    width: 86%;
  }

  .cols-4 {
    width: 80%;
  }
}
