/*$width-700:
$width-550:*/
body, html {
  background: white;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0;
  font-family: "helvetic neue", sans-serif;
  font-size: 18px;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

nav {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  color: white;
}

.menu {
  background: #383E4C;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: inherit;
  margin: 10px 15px 20px 15px;
  padding: 20px 30px;
  border: 1px white solid;
  font-size: 1.5em;
  font-weight: bold;
}

nav a:hover, nav a:active {
  background: #646d7c;
}

#toggle {
  display: none;
}

label {
  display: none;
}

p {
  text-align: center;
}

.content {
  /* display: flex;
   flex-direction: column;
   align-items: center;*/
}

.full-width {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0;
  left: 0;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(http://www.free-css.com/assets/files/free-css-templates/preview/page196/conquer/assets/img/4-5.jpg) no-repeat;
  background-size: cover;
}

#home {
  position: relative;
  top: 0px;
}

.row {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  position: relative;
  /*  display: flex;
    flex-direction: column;*/
  margin: 0 15px;
  margin-top: 30px;
}
.card .image {
  width: 100%;
  position: relative;
  background: #FFC400;
  background: url(http://www.free-css.com/assets/files/free-css-templates/preview/page196/conquer/assets/img/1-1.jpg) no-repeat;
  background-size: cover;
}

.text-container {
  color: black;
  background: #F2F2F2;
  left: 0;
  width: 100%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.cols-1 {
  width: 1170px;
}
.cols-1 .image {
  height: 500px;
}
.cols-1 .text-container {
  min-height: 180px;
}

.cols-2 {
  width: 570px;
}
.cols-2 .image {
  height: 180px;
}
.cols-2 .text-container {
  min-height: 180px;
}

.cols-3 {
  width: 370px;
}
.cols-3 .image {
  height: 125px;
}
.cols-3 .text-container {
  min-height: 125px;
}

.cols-4 {
  width: 270px;
}
.cols-4 .image {
  height: 250px;
}
.cols-4 .text-container {
  min-height: 250px;
}

.form {
  padding: 25px;
  display: flex;
  flex-direction: row;
  width: 900px;
}

input {
  width: 400px;
  height: 40px;
  margin-bottom: 30px;
}

textarea {
  width: 400px;
  height: 200px;
}

@media (max-width: 1200px) {
  .cols-1 {
    width: 970px;
  }

  .cols-2 {
    width: 470px;
  }

  .cols-3 {
    width: 303.3333333333px;
  }

  .cols-4 {
    width: 220px;
  }
}
@media (max-width: 1050px) {
  .cols-1 {
    width: 770px;
  }

  .cols-2 {
    width: 370px;
  }

  .cols-3 {
    width: 236.6666666667px;
  }

  .cols-4 {
    width: 300px;
    margin: 0 50px;
    margin-top: 30px;
  }
}
@media (max-width: 800px) {
  label {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #383E4C;
    padding: 5px;
    border-radius: 10%;
  }

  .menu {
    display: none;
  }

  nav {
    height: 66px;
    top: 0px;
  }

  #hero {
    top: -10px;
    margin-top: 0px;
  }

  nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 0 20px;
    padding: 20px 30px;
    border: 1px white solid;
    background: #383E4C;
  }

  #toggle:checked + .menu {
    display: block;
    background: none;
    width: 100%;
    height: 100%;
    position: relative;
    top: 66px;
    left: 0;
    box-sizing: border-box;
    z-index: 2;
  }

  .cols-1 {
    width: 100%;
    margin: 0 30px;
  }

  .cols-2 {
    width: 770px;
  }

  .cols-3 {
    width: 510px;
  }

  .r4 {
    justify-content: space-around;
  }

  .cols-4 {
    width: 285px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 650px) {
  .cols-2 {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .cols-4 {
    width: 45%;
  }
}
@media (max-width: 450px) {
  /* everything is one per row
   cols-1 is still wider
   using percentages + margins
   }*/
}
/*
.container{
  background: $container-background;
  width: 90vmin;
// You'll want this  height: 90vmin;
 // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
   font-size: 1.2em;
}

.colour-row{
  width: 100%;
  height: 10vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: $container-background;
}
.colour{
  width: 15%;
  height: 90%;
  
}
.colour1{
  @extend .colour;
   background: $colour1;
}
.colour2{
  @extend .colour;
   background: $colour2;
}
.colour3{
  @extend .colour;
   background: $colour3;
}
.colour4{
  @extend .colour;
   background: $colour4;
}
.colour5{
  @extend .colour;
   background: $colour5;
}
.colour6{
  @extend .colour;
   background: $colour6;
}*/
