// it was suggested to build this: http://www.free-css.com/free-css-templates/page196/conquer as a beginners project. I'm creating this with what I know and then maybe updating as I learn better techniques. The colours are inspired by my yoga mat. BREAKS ARE IMPORTANT.
$background: white;
$container-background: #FAFAFA;
$colour1: #00B0FF;
$colour2: #FF5252;
$colour3: #D500F9;
$colour4: #FFFF00;
$colour5: #1DE9B6;
$colour6: #FFC400;
body, html{
  background: $colour1;
    height: 100%;
  width: 100%;
  padding:0px;
  margin:0;
  font-family: "helvetic neue", sans-serif;
  font-size: 18px;
/*  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;*/
}
::-webkit-scrollbar { 
    display: none;
   width: 0px;  // remove scrollbar space 
  height: 0px;
}
nav{
 width: 100%;
 height: 100px;
  top: 0;
  left: 0;
  position: fixed;
  //background: grey;
   z-index: 2;
}
.menu{
  background: $colour5;
  width: 100%;
 height: 100%;
 display: flex;
  justify-content: center;
 // text-align: center;
 // flex-flow: row wrap;
 // padding: 8px 0 0 0;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
nav a{
  text-decoration: none;
  color: inherit;
 margin:10px 15px 20px 15px;
padding:20px 30px;
  border: 1px $colour4 solid;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}
nav a:hover, nav a:active{
  background: rgba(255, 255, 0, 0.3);//$colour4;
}

#toggle{
  display: none;
}
label{
  display: none;
}


p{
  text-align: center;
}

.full-width{
  position: relative;
  width: 110%;//will need to change
    height: 500px;
  padding: 0;
  left: -5%;
    margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background: $colour4;
}

#hero{
  position: relative;
  top: 0px;
}

.row{
//  z-index: 4;
  position: relative;
  margin-top: 50px;
  background: $colour5;
  width: 90%;
  left: 5%;
 // height: 20vh;
 // margin-bottom: 5vh;// might need to change
 display: flex;
 flex-flow: row wrap;

  justify-content: center;
  //  flex-direction: row;
  align-items: center;

}
.card{
  position: relative;
  margin: 2vh;
   background: $colour2;
  .image{
    width: 100%; 
    position: absolute;
    top: 0;
    left:0;
    background: $colour6;
  }
}
.text-container{
  color: black;
}
.cols-1{
   min-height: 50vh;
  width: 100%;
  .image {height: 30%;}
}
.cols-2{
   min-height: 25vh;
  width: 43%;
  .image {height: 10vh;}
   
}
.cols-3{
   min-height: 25vh;
  width: 27%;
  .image {height: 30%;}
  .text-container{
    height: 70%;
    top: 30%;
    position: absolute;
  }
}
.cols-4{
   min-height: 25vh;
  width: 20%;
  .image {height: 10vh;}
}





//estimate, change this
@media(max-width:1200px){
  .cols-4{
    width: 40%;
  }
}
//estimate, change this
@media(max-width:900px){
  label{
  display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background: $colour5;
    padding: 5px;
    border-radius: 10%;
}
  .menu{
    display: none;  

}
  nav{
   // background: $colour5;
    height: 66px;
    top: 0px;
  }
  #hero{
    top: -10px;
    //margin-top:0px;
  }
nav a{
  display: block;
  text-decoration: none;
  color: inherit;
margin:0 20px;
padding:20px 30px;
  border: 1px $colour4 solid;
 
     background: $colour5;
}
  
  #toggle:checked + .menu{
    display: block;
      background: none;
  width: 100%;
 height: 100%;
 // text-align: center;
 // flex-flow: row wrap;
 // padding: 8px 0 0 0;
  position: relative;
  top: 66px;
  left: 0;
  box-sizing: border-box;
    z-index: 2;
  }
  
 .cols-2, .cols-3{
    width: 90%;
  }
}




.container{
  background: $container-background;
  width: 90vmin;
// You'll want this  height: 90vmin;
 // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
   font-size: 1.2em;
}

.colour-row{
  width: 100%;
  height: 10vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: $container-background;
}
.colour{
  width: 15%;
  height: 90%;
  
}
.colour1{
  @extend .colour;
   background: $colour1;
}
.colour2{
  @extend .colour;
   background: $colour2;
}
.colour3{
  @extend .colour;
   background: $colour3;
}
.colour4{
  @extend .colour;
   background: $colour4;
}
.colour5{
  @extend .colour;
   background: $colour5;
}
.colour6{
  @extend .colour;
   background: $colour6;
}