// it was suggested to build this: http://www.free-css.com/free-css-templates/page196/conquer as a beginners project. I'm creating this with what I know and then maybe updating as I learn better techniques. The colours are inspired by my yoga mat. BREAKS ARE IMPORTANT.
$background: white;
$container-background: #FAFAFA;
$colour1: #00B0FF;
$colour2: #FF5252;
$colour3: #D500F9;
$colour4: #FFFF00;
$colour5: #1DE9B6;
$colour6: #FFC400;
body, html{
  background: $colour1;
    height: 100%;
  width: 100%;
  padding:0px;
/*  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;*/
}
::-webkit-scrollbar { 
    display: none;
   width: 0px;  // remove scrollbar space 
  height: 0px;
}

nav{
  background: $colour5;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
 // flex-flow: row wrap;
  padding: 4vh 0vh 4vh 0vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
nav a{
  text-decoration: none;
  color: inherit;
  padding: 4vh;
  border: 1px $colour4 solid;
}

nav a:hover, nav a:active{
  background: rgba(255, 255, 0, 0.3);//$colour4;
}
#hero{
  top: 16;
}



.full-width{
  position: relative;
  width: 110%;
  padding: 0;
  margin:0;
  left: -5%;
  height: 86vh;
  /*display: flex;
  justify-content: space-around;
  align-items: center;*/
  background: $colour4;
}


.row{
  position: relative;
  width: 90%;
 // background: $colour5;
  left: 5%;
 // height: 20vh;
  margin-bottom: 5vh;// might need to change
  display: flex;
 flex-flow: row wrap;
//  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.card{
  position: relative;
  margin: 2vh;
   background: $colour2;
   
  .image{
    width: 100%;
    
    position: absolute;
    top: 0;
    left:0;
    background: $colour6;
  }
}

.cols-1{
   height: 50vh;
  width: 100%;
  .image {height: 10vh;}
}
.cols-2{
   height: 25vh;
  width: 43%;
  .image {height: 10vh;}
   
}
.cols-3{
   height: 25vh;
  width: 27%;
  .image {height: 10vh;}
}
.cols-4{
   height: 25vh;
  width: 20%;
  .image {height: 10vh;}
}


.container{
  background: $container-background;
  width: 90vmin;
// You'll want this  height: 90vmin;
 // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
   font-size: 1.2em;
}
p{
  text-align: center;
}
.colour-row{
  width: 100%;
  height: 10vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: $container-background;
}
.colour{
  width: 15%;
  height: 90%;
  
}
.colour1{
  @extend .colour;
   background: $colour1;
}
.colour2{
  @extend .colour;
   background: $colour2;
}
.colour3{
  @extend .colour;
   background: $colour3;
}
.colour4{
  @extend .colour;
   background: $colour4;
}
.colour5{
  @extend .colour;
   background: $colour5;
}
.colour6{
  @extend .colour;
   background: $colour6;
}
//estimate, change this
@media(max-width:900px){
  .cols-4{
    width: 40%;
  }
}
//estimate, change this
@media(max-width:475px){
 .cols-2, .cols-3{
    width: 90%;
  }
}